.center{


    text-align: center;
}
.burger{

    
	padding: 10px;
font-size: 30px;
background: orange;
	text-align: center;
}

#line{

line-height: 1.5;
font-size: 20px;



}


.text{

font-size: 20px;

}

#title{
text-align: center;
background: black;
	font-size: 40px;
}

#menu{



width: 100%;
height: 50px;
background: red;
margin-right: 10%;
display: flex;
justify-content: space-around;


}

.menuItem:hover{
background: red;
font-family:helvetica;
display: inline-block;
padding: 0px;
font-size: 30px;



}

#footer{
padding: 15px;
width: 100%;
height: 13px;
background: red;



display: flex;
justify-content: space-around;
}